<div class="col side_navigation s12 m2 l2 scale-transition">
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">title</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Title</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">person</i>
              <input id="icon_author" type="text" class="validate">
              <label for="icon_author">Author</label>
            </div>
          </div>

        <button type="submit" class="btn">
            Search
        </button>
        </form>
     </div>
</div>
