nav {
    background-color: transparent;
    background: var(--primary-gradient);
}

nav .nav-wrapper {
    padding: 0 15px;
}

@media (max-width: 545px) {
    .nav-wrapper .brand-logo {
        margin-left: 0;
    }
}

.nav-user-wrapper {
    display: flex;
}
